*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 12px;
}
.sidenav{
    height: 92%;
    width: 160px;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #111;
    padding-top: 10px;
    text-align: center;
}

.sidenav_style{
    padding: 10px 8px 10px 8px;
    margin: 5px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    display: block;
}

.clicked{
    color: black;
    background: #fff;
    border-radius: 10px;
}

.sidenav a:hover{
    color: black;
    background: #fff;
    border-radius: 10px;
}

.main-content{
    margin-left: 160px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cal{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
label{
    font-size: 1.5rem;
    font-weight: 600;
}
#number{
    height: 40px;
    width: 250px;
    padding: 5px auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
}
#show_result{
    margin: 5px 0 5px 0;
    border: 2px solid yellow;
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
}
.hide{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
.hide{
    display: none;
}
table,
th,
td {
    color: #fff;
    font-size: 1.1rem;
}
th,td{
    width: 120px;
    padding: 2px 5px;
    border-bottom: 1px solid;
}

th span{
    display: inline-block;
    width: 120px;
}
td {
    text-align: center;
}

.table_container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    color: #fff;
    background: #23242a;
    box-shadow:0 1px 1px hsl(0deg, 0%, 0% / 0.075);
    border-radius: 10px;
}

.table_container p{
    text-align: center;
}

.table_container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
    height: 10px;
}

.table_container::-webkit-scrollbar-thumb {
    background: #fbf7f2;
    border-radius: 4px;
    height: 22px;
}

footer{
    position:static;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
@media only screen and (max-width: 640px){
    .sidenav{
        position: static;
        height: auto;
        width: 100vw;
        top: 50px;
        left: 0;
        background-color: #111;
        padding-top: 0px;
        top: 100px;
    }
    .main-content{
        width: 100vw;
        margin: 0;
        top: 100px;
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}
@media only screen and (max-width: 410px){
    .sidenav{
        top: 250px;
    }
}