*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 12px;
}
.sidenav{
    height: 92%;
    width: 250px;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}
.sidenav a{
    padding: 10px 8px 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.main-content{
    margin-left: 250px;
    padding:10px;
}
