@media only screen and (max-width: 640px){
    .container::before{
        top: 100px;
    }
}
@media only screen and (max-width: 410px){
   
    .container p{
        width: 200px;
        font-size: 2.2rem;
        margin: 30px auto auto auto;
    }
    .container::before{
        top: 250px;
    }
    .box-size{
        width: 200px;
        height: 170px;
    }
    .main_container>p{
        font-size: 2.0rem;
    }
    .ancher-style-2{
        font-size: 1.6rem;;
    }
    .ring{
        width: 100px;
        height: 100px;
    }
    .load-text{
        font-size: 10px;
    }
}
