*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
    font-size: 12px;
}
.main_body{
    flex-grow: 1;
}
/* navbar start */
#navbar{
    display: flex;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    justify-content: space-around;
    border: none;
}
#navbar::before{
    content: '';
    background: url(../images/header.jpg) no-repeat center center/cover;
    /* background-color: black; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    list-style: none;
}
.ancher-style{
    /* position: relative; */
    display: block;
    height: 50px;
    color: #ffffff;
    font-weight: 500;
    /* text-transform: uppercase; */
    line-height: 50px;
    padding: 0 15px;
    margin: 0;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-size: 1.7rem;
}
#navbar ul li a{
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#navbar ul li:hover>a{
    color: black;
    background-color: white;
    border-radius: 10px;
}
.sun-menu{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.carret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    vertical-align: middle;
}
#navbar ul li.sub-menu:hover .carret{
    border-top-color: black;
}
#navbar>ul>li.sub-menu > ul{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    background-color: rgb(24, 43, 43,0.5);
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    top: 48px;
}
#navbar ul li.sub-menu > ul li{
    list-style: none;
}
#navbar ul li.sub-menu:hover>ul#dropdown{
    visibility: visible;
    opacity: 1;
}
/* navbar ended */
footer{
    position:static;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
@media only screen and (max-width: 590px){
    #navbar{
        flex-direction: column;
    }
    #navbar>ul>li.sub-menu > ul{
        top:100px;
    }
}
@media only screen and (max-width: 410px){
    #navbar ul{
        flex-direction: column;
    }
    #navbar>ul>li.sub-menu > ul{
        top: 150px;
    }
}